.width-90 {
  width: 90%;
  margin: auto;
}

.width-95 {
  width: 95%;
  margin: auto;
}

.bg-biru {
  background-color: blue;
}

.bg-home {
  background-color: rgb(74, 74, 74);
}

.list-ingre {
  list-style-type: circle;
}

.swiper-button-next {
  color: black !important;
}

.swiper-button-prev {
  color: black !important;
}

.max-width-slide {
  max-width: 400px;
}

.color-grey {
  color: #555;
}


.height-screen {
   min-height: 10vh;
}
